<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-adsense-account" content="ca-pub-9149809198719246">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
       .login-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f7f7f7;
        }

        .login-title {
            text-align: center;
        }

        .register-link {
            text-align: center;
            margin-top: 15px;
        }
        
    </style>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">
    <title>Dark unlocks</title>
</head>
<body>
    
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/images/logo.png" alt="logo" width="50" height="50">
              </a>
              
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 active">Home</a></li>
            <li><a href="services" class="nav-link px-2">Services</a></li>
            <li><a href="/downloads" class="nav-link px-2">Downloads</a></li>
            <li><a href="/#about" class="nav-link px-2">About</a></li>
          </ul>
    
          <div class="col-md-3 text-end" >
            <a href="/login"><button type="submit" class="btn btn-outline-primary me-2">Login</button></a>
            <a href="#sign-up"><button type="button" class="btn btn-success">Sign-up</button></a>
          </div>
        </header>
      </div>