<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="50" height="50">
  <h1 class="display-5 fw-bold text-body-emphasis">Why Choose Us?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">At Dark Unlocks, we are passionate about giving you the freedom you deserve with your iPhone. Our journey began with a simple idea: to provide iPhone users with the power to use their devices exactly as they want. We understand that your iPhone is more than just a phone; it's an essential part of your daily life, and it should work for you without limitations.</p>
    
  </div>
</div>

<!--Sign up from home page-->
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">How to Get Started ?</h1>
        <p class="col-lg-10 fs-4">Unlocking your iPhone has never been easier. Sign up today and take the first step towards a more liberated iPhone experience. Join the Dark Unlocks community and unlock a world of possibilities.
<br> <br>
         Customize this description to fit the specific details and features of your sign-up form. The goal is to convey the ease of signing up, the benefits of doing so, and the exciting possibilities that await users on your iPhone unlocking website.
          
          
          
          
          </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5" id="sign-up">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="/" method="post">

          <div class="form-floating mb-3" >
            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="name">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-success" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  