<%- include("partials/header-user"); -%>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9149809198719246"
     crossorigin="anonymous"></script>
     
<div class="container mt-5">
    <h1>Payment Details</h1>
    
    <h2>PayPal Payment</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>PayPal Address</strong></td>
                <td>darkunlocks1@gmail.com</td>
            </tr>
            <tr>
                <td><strong>Telegram id</strong></td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
            <tr>
                <td>Take a screenshot and send to Admin</td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Binance Auto Payment (USDT)</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Binance Pay Address </strong></td>
                <td>517473839</td>
            </tr>
            <tr>
                <td><strong>Telegram id:</strong></td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
            <tr>
                <td>Take a screenshot and send to Admin</td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
        </tbody>
    </table>

    <h2>USDT TRC20 Address</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Usdt trc-20 address  </strong></td>
                <td>TBRWs7UeEnB76A2xV3ZNrsv43ruE5XQsCA</td>
            </tr>
            <tr>
                <td><strong>Telegram id:</strong></td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
            <tr>
                <td>Take a screenshot and send to Admin</td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
        </tbody>
    </table>
</div>

<br><br><br><br><br><br><br><br>

<%- include("partials/footer"); -%>