<%- include("partials/header-user"); -%>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9149809198719246"
     crossorigin="anonymous"></script>
     
  


     <div class="container mt-5">
        <h1 class="paypal-heading">
            <img src="/images/paypal2.png" alt="paypal" width="150" height="90" class="paypal-logo">
            Auto    <span id="pay"> Payment </span>
        </h1>
        
        
        <form action="/pay" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="strongadas009@gmail.com"> <!-- Your PayPal email -->
            <input type="hidden" name="item_name" value="Payment">
            
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" placeholder="Enter the amount">       
            </div>
            <br>
            <button type="submit" id="btn-paypal"><img src="/images/paypalbtn.jpeg" alt="paypal"></button>
        </form>
    </div>

   




<div class="container mt-5">
    <h1>Manual Payment Details</h1>
    
    <h2>Binance Payment (USDT)</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Binance Pay Address </strong></td>
                <td>517473839</td>
            </tr>
            <tr>
                <td><strong>Telegram id:</strong></td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
            <tr>
                <td>Take a screenshot and send to Admin</td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
        </tbody>
    </table>

    <h2>USDT TRC20 Address</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Usdt trc-20 address  </strong></td>
                <td>TBRWs7UeEnB76A2xV3ZNrsv43ruE5XQsCA</td>
            </tr>
            <tr>
                <td><strong>Telegram id:</strong></td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
            <tr>
                <td>Take a screenshot and send to Admin</td>
                <td><a href="https://t.me/darkunlocksOwner" target="_blank">Dark Unlocks Owner</a></td>
            </tr>
        </tbody>
    </table>
</div>

<br><br><br><br><br><br><br><br>

<%- include("partials/footer"); -%>






    
   
    