<%- include("partials/header"); -%>


<div class="container mt-5">
    <h2 class="mb-4">Downloads</h2>

    <div class="row">
      <!-- Download Link 1 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Scylla tool</h5>
            <p class="card-text">Scylla tool FMI OFF OPEN MENU</p>
        <a href="https://mega.nz/folder/UyRziZBI#I8SaIk0Yk8Xt-W11rjadIw"  target="_blank"   class="btn btn-success">Download</a>
          </div>
        </div>
      </div>

      <!-- Download Link 2 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HFZ Tools</h5>
            <p class="card-text">Hfz Ramdsk and all other Tools</p>
            <a href="https://mega.nz/folder/JBEQSBaK#P-MMA1LGZergdz2-3vec6A" target="_blank" class="btn btn-success">Download</a>
          </div>
        </div>
      </div>

      <!-- Download Link 3 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SMD Tools</h5>
            <p class="card-text">SMD RAMDISK and SMD GSM/MEID</p>
            <a href="https://bysmd.com/SMDRamdiskActivator.pkg" target="_blank" class="btn btn-success">Download</a>
          </div>
        </div>
      </div>
    </div>

  </div>







<%- include("partials/footer"); -%>




