<%- include("partials/header"); -%>


<section id="news-slider">
  <div class="container">
    <h1 class="text-center mb-4 text-muted">Dark Unlocks</h1>
      <h4 class="text-center ">Latest News</h4>

      <div class="news-slider-container">
          <div id="news-carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <!-- News Items go here -->
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="card news-card">
                                  <img src="/images/ir.jpg" class="card-img-top" alt="News Image">
                                  <div class="card-body">
                                      <h5 class="card-title"></h5>
                                     
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card news-card">
                                        <img src="/images/ir.jpg" class="card-img-top" alt="News Image">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                           
                                        </div>
                                    </div>
                                </div>
                          <!-- Add more news cards here -->
                          <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card news-card">
                                        <img src="/images/ir.jpg" class="card-img-top" alt="News Image">
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                           
                                        </div>
                                    </div>
                                </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="carousel-item active">
    <div class="row">
        <div class="col-md-4">
            <div class="card news-card">
                <img src="/images/ir.jpg" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">iDevices A12+ Full Bypass with signal</h5>
                   
                </div>
            </div>
        </div>
        <div class="carousel-item active">
          <div class="row">
              <div class="col-md-4">
                  <div class="card news-card">
                      <img src="/images/hermes.jpg" class="card-img-top" alt="News Image">
                      <div class="card-body">
                          <h5 class="card-title">Hermes tool new Service</h5>
                          
                      </div>
                  </div>
              </div>
        <!-- Add more news cards here -->
        <div class="carousel-item active">
          <div class="row">
              <div class="col-md-4">
                  <div class="card news-card">
                      <img src="/images/ir.jpg" class="card-img-top" alt="News Image">
                      <div class="card-body">
                          <h5 class="card-title">iDevices A12+ Full Bypass with signal/h5>
                          
                      </div>
                  </div>
              </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/home-pic.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="600" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Dark Unlocks</h1>
        <p class="lead">Unlock the full potential of your iPhone with our trusted iPhone unlocking services. Say goodbye for a forgotten passcode or hello mode iDevices </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="#sign-up"><button type="button" class="btn btn-outline-success btn-lg px-4 me-md-2">Sign-up</button></a>
          <a href="https://t.me/+xrOJCBL0qpFhNDg0" target="_blank"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Telegram Group</button>
          </div></a>
      </div>
    </div>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9149809198719246"
     crossorigin="anonymous"></script>
     
  <div id="about">
    <%- include ("about") %>   
    </div>












<%- include("partials/footer"); -%>
