<%- include("partials/header-user"); -%>

<div class="container mt-5 text-center ">
    <h2 class="text-danger">Insufficient Balance</h2>
    <p>Please <a href="/credits">add credits.</a> Your balance is insufficient.</p>
    <!-- You can add links or buttons to navigate to other pages as needed -->
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><b><br></b>
<%- include("partials/footer"); -%>
