<%- include("partials/header-user"); -%>

<div class="container mt-5">
    <h1>Order imei</h1>
    <div class="form-group">
        <label for="serviceSelect">Choose a Service:</label>
        <select class="form-control" id="serviceSelect">
            <option value="service0">Select a Service to start</option>
            <option value="SMD HELLO WITH SIGNAL Order">SMD Ramdisk Hello bypass with Signal</option>
            <option value="Lpro passcode or Hello no signal Order">Passcode/ hello no Signal bypass</option>
            <option value="Plist Service Order">Lost/ Clean mode Plist Service</option>
            <option value="IRemoval Pro Hello with Signal ">IRemoval Pro Hello with Signal (windows)</option>
            <option value="smd activator">SMD ACTIVATOR</option>
        </select>
    </div>
</div>

<div class="container mt-4" id="dynamicDiv" style="display: none;">
    <table class="table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Delivery Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="dynamicTableBody">
            <!-- Service details will be inserted here -->
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        
        <form class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="serviceModalLabel">Service Details</h5>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody" style="display: none;">
                <!-- Error message will be displayed here -->
                <p style="color: red;">Youd don't have enough credits! Please <a href="/credits">top up credits</a></p>
            </div>
            <div class="modal-body" id="errorEmpty" style="display: none;">
                <!-- Error message will be displayed here -->
                <p style="color: red;">Plz enter an imei or sn </a></p>
            </div>

            <div class="modal-body" id="serviceModalBody">
                <!-- Service details and input field will be displayed here -->
            </div>

            <div class="modal-footer">
                <a href="/orders"><button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button></a>
                <button type="button" class="btn btn-success" id="submitBtn">Submit</button>
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer"); -%>

<script>
   




    document.addEventListener('DOMContentLoaded', function () {
        const serviceSelect = document.getElementById('serviceSelect');
        const dynamicDiv = document.getElementById('dynamicDiv');
        const dynamicTableBody = document.getElementById('dynamicTableBody');
        const serviceModal = document.getElementById('serviceModal');
        const serviceModalBody = document.getElementById('serviceModalBody');

        // Service data using a switch statement
        function getServiceDetails(service) {
            switch (service) {
                case "SMD HELLO WITH SIGNAL Order":
                    return [
                        {
                            order: "IPhone 6s/6s+",
                            deliveryTime: "Instant",
                            price: "$10",
                        },
                        {
                            order: "IPhone 7/7+",
                            deliveryTime: "Instant",
                            price: "$16",
                        },
                        {
                            order: "IPhone 8/8+",
                            deliveryTime: "Instant",
                            price: "$25",
                        },
                        {
                            order: "IPhone X",
                            deliveryTime: "Instant",
                            price: "$32",
                        }
                    ];
                    case "IRemoval Pro Hello with Signal ":
                    return [
                        {
                            order: "IPhone 6s/6s+",
                            deliveryTime: "Instant",
                            price: "$12",
                        },
                        {
                            order: "IPhone 7/7+",
                            deliveryTime: "Instant",
                            price: "$18",
                        },
                        {
                            order: "IPhone 8/8+",
                            deliveryTime: "Instant",
                            price: "$28",
                        },
                        {
                            order: "IPhone X",
                            deliveryTime: "Instant",
                            price: "$35",
                        }
                    ];
                    case "smd activator":
                    return [
                        {
                            order: "IPhone 5s",
                            deliveryTime: "Instant",
                            price: "$3",
                        },
                        {
                            order: "IPhone 6/6+",
                            deliveryTime: "Instant",
                            price: "$6",
                        }
                    ];
                case "Lpro passcode or Hello no signal Order":
                    return [
                        {
                            order: "LPro A9 passcode w/signal /hello bypass no signal ",
                            deliveryTime: "Instant",
                            price: "$3",
                        },
                        {
                            order: "LPro A10 passcode w/signal /hello bypass no signal ",
                            deliveryTime: "Instant",
                            price: "$4",
                        },
                        {
                            order: "LPro A11 passcode w/signal /hello bypass no signal ",
                            deliveryTime: "Instant",
                            price: "$5",
                        }
                    ];
                 case "Plist Service Order":
            return [
                {
                    order: "iPhone XR",
                    deliveryTime: "Instant - 30min",
                    price: "$90",
                },
                {
                    order: "IPhone 11",
                    deliveryTime: "Instant - 30min",
                    price: "$120",
                },
                {
                    order: "IPhone 11 Pro",
                    deliveryTime: "Instant - 30min",
                    price: "$140",
                },
                {
                    order: "IPhone 11 Pro Max",
                    deliveryTime: "Instant - 30min",
                    price: "$150",
                },
                {
                    order: "IPhone 12 mini",
                    deliveryTime: "Instant - 30min",
                    price: "$110",
                },
                {
                    order: "IPhone 12 ",
                    deliveryTime: "Instant - 30min",
                    price: "$130",
                },
                {
                    order: "IPhone 12 Pro",
                    deliveryTime: "Instant - 30min",
                    price: "$170",
                },
                {
                    order: "IPhone 12 Pro Max",
                    deliveryTime: "Instant - 30min",
                    price: "$185",
                },
                {
                    order: "IPhone 13 mini",
                    deliveryTime: "Instant - 30min",
                    price: "$140",
                },
                {
                    order: "IPhone 13",
                    deliveryTime: "Instant - 30min",
                    price: "$200",
                },
                {
                    order: "IPhone 13 Pro",
                    deliveryTime: "Instant - 30min",
                    price: "$230",
                },
                {
                    order: "IPhone 13 Pro Max",
                    deliveryTime: "Instant - 30min",
                    price: "$260",
                },
                {
                    order: "IPhone 14",
                    deliveryTime: "Instant - 30min",
                    price: "$280",
                },
                {
                    order: "IPhone 14 Plus",
                    deliveryTime: "Instant - 30min",
                    price: "$295",
                },
                {
                    order: "IPhone 14 pro",
                    deliveryTime: "Instant - 30min",
                    price: "$310",
                },
                {
                    order: "IPhone 14 Pro Max",
                    deliveryTime: "Instant - 30min",
                    price: "$350",
                },

            ];
        
                    
                default:
                    return [
                        {
                            order: "N/A",
                            deliveryTime: "N/A",
                            price: "N/A",
                        }
                    ];
            }
        }
        // Function to open the modal with service details
        function openServiceModal(serviceDetails) {
            serviceModalBody.innerHTML = '';

            serviceDetails.forEach(detail => {
                const serviceDetailDiv = document.createElement('div');
                serviceDetailDiv.innerHTML = `
                    <p><strong>Order:</strong> ${detail.order}</p>
                    <p><strong>Delivery Time:</strong> ${detail.deliveryTime}</p>
                    <p><strong>Price:</strong> ${detail.price}</p>
                `;

                // Input field
                const inputField = document.createElement('input');
                inputField.type = 'text';
                inputField.className = 'form-control';
                inputField.placeholder = 'Enter your imei or sn ';
                inputField.name = "imeiOrSn";
                inputField.required = true;
                inputField.id = "imeiOrSn";
                

                serviceModalBody.appendChild(serviceDetailDiv);
                serviceModalBody.appendChild(inputField);
            });

            // Show the modal
            $(serviceModal).modal('show');
        }

        serviceSelect.addEventListener('change', function () {
            const selectedOption = serviceSelect.value;

            if (selectedOption !== 'service0') {
                // Show the dynamic div and populate the table
                dynamicDiv.style.display = 'block';

                // Retrieve service details based on the selected option
                const serviceDetails = getServiceDetails(selectedOption);

                // Populate the table with service details
                dynamicTableBody.innerHTML = '';

                serviceDetails.forEach(detail => {
                    const tableRow = document.createElement('tr');
                    tableRow.innerHTML = `
                        <td>${detail.order}</td>
                        <td>${detail.deliveryTime}</td>
                        <td>${detail.price}</td>
                    `;

                    tableRow.addEventListener('click', () => {
                        // Open the modal when the table row is clicked
                        openServiceModal(serviceDetails);
                    });

                    dynamicTableBody.appendChild(tableRow);
                });
            } else {
                // Hide the dynamic div if the default option is selected
                dynamicDiv.style.display = 'none';
            }
        });
    });
     
    const btn = document.getElementById('submitBtn')
    const errModal = document.getElementById('errorModalBody')
    
    const errorEmpty = document.getElementById('errorEmpty')


btn.addEventListener('click',()=>{

    
        errModal.style.display = "block"
   
    
})

   

</script>
