<%- include("partials/header-user"); -%>

<div class="container mt-5">
    <label for="balance"><strong>Your Balance:</strong> $<%= balance %></label> <br>
    <h2>Place a New IMEI Order</h2>
    <form action="/orders" method="post"  id="myForm">

        <div class="form-group" >
            <label for="device">Select Device:</label>

            <select class="form-control" id="device" name="device">

                <option value="">Select a Device</option>
                <option value="200" data-price="1499">#1001 MacBook Pro (13-inch, 2019, Two Thunderbolt 3 ports) - $200</option>
                <option value="230" data-price="2399">#1002 MacBook Pro (16-inch, 2019) - $230</option>
                <option value="260" data-price="1199">$1003 iMac (24-inch, M1, 2021) iMac21,1/iMac21,2 (two/four ports) - $260</option>
                <option value="288" data-price="1699">#1004 MacBook Pro (13-inch, M2, 2022) Mac14,7 - $288</option>
                <option value="300" data-price="999">#1005 MacBook Air (M1, 2020) MacBookAir10,1 - $300</option>
                <option value="350" data-price="1199">#1006 MacBook Air (M2, 2022) Mac14,2 - $350</option>
                
                <option value="10.00" data-price="10.00">IPhone 6s/6s+ SMD Ramdisk Hello bypass with Signal - $10</option>
                <option value="15" data-price="15" >IPhone 7/7+ SMD Ramdisk Hello bypass with Signal - $15 </option>
                <option value="25" data-price="25">IPhone 8/8+ SMD Ramdisk Hello bypass with Signal - $25</option>
                <option value="32" data-price="32">IPhone X SMD Ramdisk Hello bypass with Signal - $32</option>

                <option value="9" data-price="0">IPhone 6s/6s+ HFZ Ramdisk Hello bypass with Signal - $9</option>
                <option value="14" data-price="14" >IPhone 7/7+ HFZ Ramdisk Hello bypass with Signal - $14 </option>
                <option value="24" data-price="45">IPhone 8/8+ HFZ Ramdisk Hello bypass with Signal - $24</option>
                <option value="31" data-price="31">IPhone X HFZ Ramdisk Hello bypass with Signal - $31</option>

                <option value="12" data-price="12">IPhone 6s/6s+ IRemoval Pro Hello with Signal (windows) - $12</option>
                <option value="18" data-price="18"> IPhone 7/7+ IRemoval Pro Hello with Signal (windows) - $18</option>
                <option value="28" data-price="28"> IPhone 8/8+ IRemoval Pro Hello with Signal (windows) - $28</option>
                <option value="35" data-price="35"> IPhone X IRemoval Pro Hello with Signal (windows) - $35</option>

                <option value="3" data-price="3">A9 LPro Passcode or Hello no signal bypass - $3</option>
                 <option value="4" data-price="4">A10 LPro Passcode or Hello no signal bypass - $4</option>
                 <option value="5" data-price="5">A11 LPro Passcode or Hello no signal bypass - $5</option>

                 <option value="90" data-price="90">IPhone XR Lost / Clean mode Plist Service - $90</option>
                 <option value="120" data-price="120">IPhone 11 Lost / Clean mode Plist Service - $120</option>
                 <option value="140" data-price="140">IPhone 11 Pro Lost / Clean mode Plist Service - $140</option>
                 <option value="150" data-price="150">IPhone 11 Pro Max Lost / Clean mode Plist Service - $150</option>
                 <option value="110" data-price="110">IPhone 12 mini Lost / Clean mode Plist Service - $110</option>
                 <option value="130" data-price="130">IPhone 12 Lost / Clean mode Plist Service - $130</option>
                 <option value="170" data-price="170">IPhone 12 Pro Lost / Clean mode Plist Service - $170</option>
                 <option value="185" data-price="185">IPhone 12 Pro Max Lost / Clean mode Plist Service - $185</option>
                 <option value="140" data-price="140">IPhone 13 mini Lost / Clean mode Plist Service - $140</option>
                 <option value="200" data-price="200">IPhone 13 Lost / Clean mode Plist Service - $200</option>
                 <option value="230" data-price="230">IPhone 13 Pro Lost / Clean mode Plist Service - $230</option>
                 <option value="250" data-price="260">IPhone 13 Pro Max Lost / Clean mode Plist Service - $260</option>
                 <option value="280" data-price="280">IPhone 14 Lost / Clean mode Plist Service - $280</option>
                 <option value="295" data-price="295">IPhone 14 PlusLost / Clean mode Plist Service - $295</option>
                 <option value="310" data-price="310">IPhone 14 Pro Lost / Clean mode Plist Service - $310</option>
                 <option value="350" data-price="350">IPhone 14 Pro Max Lost / Clean mode Plist Service - $350</option>
                 <option value="350" data-price="350">IPad 10.9 10th Gen (Wi-fi only) SN OFF- $350</option>
                 <option value="370" data-price="350">IPad Pro (12.9 inch ,Wi-fi only) SN OFF- $370</option>
                 <option value="365" data-price="350">IPad Pro (11 inch ,Wi-fi only) SN OFF- $365</option>

                 <option value="20" data-price="20">IPhone XR ICloud Open Menu FMI OFF/ Scylla Tool- $20</option>
                 <option value="25" data-price="25">IPhone Serie 11 ICloud Open Menu FMI OFF/ Scylla Tool- $25</option>
                 <option value="30" data-price="30">IPhone Serie 12 ICloud Open Menu FMI OFF/ Scylla Tool- $30</option>
                 <option value="34" data-price="34">IPhone Serie 13 ICloud Open Menu FMI OFF/ Scylla Tool- $34</option>
                 <option value="38" data-price="28">IPhone Serie 14 ICloud Open Menu FMI OFF/ Scylla Tool- $38</option>
                 <option value="40" data-price="25">IPhone Serie 15 ICloud Open Menu FMI OFF/ Scylla Tool- $40</option>
                 <option value="50">Blacklist Removal Service (IPhone only) - $50</option>
                 


                
            </select>
        </div>
 <br>
        <!-- Add a div to display the order result message -->
        <div id="orderResultMessage" style="display: none;" >
            <input type="text" name="selectedService" value="" id="selectedService" readonly>
        </div>

<br>
        <!-- IMEI Number and Processing Time fields -->
        <div id="imeiProcessingFields" style="display: none;">
            <div class="form-group">
                <label for="imei">IMEI Number:</label>
                <input type="text" class="form-control" id="imei" name="imei" required>
            </div>
<br>
            <div class="form-group">
                <label for="processing_time"> Processing Time:</label>
                <select class="form-control" id="processing_time" name="processing_time">
                    <option value="1-10 Minutes">1-10 Minutes</option>
                    <!-- Add more processing time options if needed -->
                </select>
            </div>
        </div>
        <br>
        <button type="submit" onclick="getSelectedOptionText()" class="btn btn-success">Submit Order</button>
        
    </form>
</div>

<%- include("partials/footer"); -%>

   <!-- Add Bootstrap JS and jQuery scripts if needed -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
   <script>
    const deviceSelect = document.getElementById('device');
    const imeiProcessingFields = document.getElementById('imeiProcessingFields');
    const orderResultMessage = document.getElementById('orderResultMessage');
    const formElement = document.getElementById('myForm'); 
    const inputField = document.getElementById('selectedService');

    const deviceTextMap = {
    '200': '#1001 MacBook Pro (13-inch, 2019, Two Thunderbolt 3 ports)',
    '230': '#1002 MacBook Pro (16-inch, 2019)',
    '260': '$1003 iMac (24-inch, M1, 2021) iMac21,1/iMac21,2 (two/four ports)',
    '288': '#1004 MacBook Pro (13-inch, M2, 2022) Mac14,7',
    '300': '#1005 MacBook Air (M1, 2020) MacBookAir10,1',
    '350': '#1006 MacBook Air (M2, 2022) Mac14,2',
    '10.00': 'IPhone 6s/6s+ SMD Ramdisk Hello bypass with Signal',
    '15': 'IPhone 7/7+ SMD Ramdisk Hello bypass with Signal',
    '25': 'IPhone 8/8+ SMD Ramdisk Hello bypass with Signal',
    '32': 'IPhone X SMD Ramdisk Hello bypass with Signal',
    '12': 'IPhone 6s/6s+ IRemoval Pro Hello with Signal (windows)',
    '18': 'IPhone 7/7+ IRemoval Pro Hello with Signal (windows)',
    '28': 'IPhone 8/8+ IRemoval Pro Hello with Signal (windows)',
    '35': 'IPhone X IRemoval Pro Hello with Signal (windows)',
    '3': 'A9 LPro Passcode or Hello no signal bypass',
    '4': 'A10 LPro Passcode or Hello no signal bypass',
    '5': 'A11 LPro Passcode or Hello no signal bypass',
    '90': 'IPhone XR Lost / Clean mode Plist Service',
    '120': 'IPhone 11 Lost / Clean mode Plist Service',
    '140': 'IPhone 11 Pro Lost / Clean mode Plist Service',
    '150': 'IPhone 11 Pro Max Lost / Clean mode Plist Service',
    '110': 'IPhone 12 mini Lost / Clean mode Plist Service',
    '130': 'IPhone 12 Lost / Clean mode Plist Service',
    '170': 'IPhone 12 Pro Lost / Clean mode Plist Service',
    '185': 'IPhone 12 Pro Max Lost / Clean mode Plist Service',
    '140': 'IPhone 13 mini Lost / Clean mode Plist Service',
    '200': 'IPhone 13 Lost / Clean mode Plist Service',
    '230': 'IPhone 13 Pro Lost / Clean mode Plist Service',
    '250': 'IPhone 13 Pro Max Lost / Clean mode Plist Service',
    '280': 'IPhone 14 Lost / Clean mode Plist Service',
    '295': 'IPhone 14 PlusLost / Clean mode Plist Service',
    '310': 'IPhone 14 Pro Lost / Clean mode Plist Service',
    '350': 'IPhone 14 Pro Max Lost / Clean mode Plist Service',
    '350': 'IPad 10.9 10th Gen (Wi-fi only) SN OF',
    '370': 'IPad Pro (12.9 inch ,Wi-fi only) SN OF',
    '365': 'IPad Pro (11 inch ,Wi-fi only) SN OF',
    '20':'IPhone XR ICloud Open Menu FMI OFF Scylla Tool',
    '25':'IPhone 11 ICloud Open Menu FMI OFF Scylla Tool',
    '30':'IPhone 12 ICloud Open Menu FMI OFF Scylla Tool',
    '34':'IPhone 13 ICloud Open Menu FMI OFF Scylla Tool',
    '38':'IPhone 14 ICloud Open Menu FMI OFF Scylla Tool',
    '40':'IPhone 15 ICloud Open Menu FMI OFF Scylla Tool',
    '9':'IPhone 6s/6s+ HFZ Ramdisk Hello bypass with Signal',
    '14':'IPhone 7/7+ HFZ Ramdisk Hello bypass with Signal',
    '24':'IPhone 8/8+ HFZ Ramdisk Hello bypass with Signal',
    '31':'IPhone X HFZ Ramdisk Hello bypass with Signal',
    '50':'Blacklist Removal Service (IPhone only)',

};

        let selectedDevice;

        deviceSelect.addEventListener('change', function () {
            selectedDevice = deviceSelect.value;

            if (selectedDevice === '') {
                imeiProcessingFields.style.display = 'none';
                orderResultMessage.textContent = ''; // Clear the content if no device selected
            } else {
               
                imeiProcessingFields.style.display = 'block';
                const selectedDeviceText = deviceTextMap[selectedDevice];

                

                //orderResultMessage.style.display="block"
               // orderResultMessage.textContent = selectedDeviceText;
                 // Set the value of the input field
                inputField.value = selectedDeviceText;
                console.log(selectedDeviceText)
            }


    });

    

    


       
</script>



